body {
    /* Set display to flex to make the footer stick to the bottom 
    of the page.*/
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Give certain elements, like navbar and footer, a red background. */
.red-back {
    background-color: #b22327;
}

/* Make the text white. */
.white-text {
    color: rgba(255,255,255,0.9);
}

.content {
    width: 80vw;
}

/* Give the footer a flexbox display to show disclaimer and info next to each other. */
footer {
    width: 100vw;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    font-size: small;
    text-align: center;
}

.disclaimer {
    width: auto;
}

.contact-info {
    max-width: 50vw;
    min-width: 30vw;
}

#complaint-form {
    display: grid;
    place-items: center;
    min-height: 100vh;
    /*clamp min height 100 vh?*/
}

.form {
    width: clamp(320px, 30%, 430px);
    border: 1px solid #c2292e;
    border-radius: .35rem;
}

.form-field input {
    display: block;
}
