{% extends "template.html" %}

{% block title %}
    Die Beschwerde
{% endblock %}

{% block main %}
    <h2>Germans are known to be punctual, right?</h2>
    <p>
        Especially their trains are arriving and departing like clockwork. <br>
        Well that is just not the truth sadly. Maybe you have had the misfortune of bying a ticket and waiting for the train,
        just to find out last minute that it actually will arrive at a completely different gate. Or you wait on the train 
        because the app and the digital signs hanging from the ceiling tell you that the train will come soon. Altough one of those 
        options tell you that the train will be a few minutes late. So you just wait a few minutes, no problem right? <br>
        But then. after some time passes and it is too late to take an alternative way to work and still be on time, the signs 
        tell you that the train was cancelled. Oopsie, i guess too bad for you. <br>
        Or maybe you have had the neverending loop of: "we are super late, thats why we have to stand here 5 minutes to wait for the 
        next train to pass us".
    </p>
    <p>
        Are you sick and tired of the lack of responsibility? Many of us are paying for this service a quite high amount per
        month, just to be told "You have to count on trains being late or cancelled". 
    </p>
    <h3>So are you Upset?</h3>
    <p>
        Do you want to Express your anger/frustration, but don't have the energy to type out a lengthy Email, explaining what happened? 
        Well fret no more. With this app it will be really easy to create a polite but firm complaint, wich you can copy and send
        via Email. Just fill out the questionaire, maybe add some images or your ticket.pdf and send it out. <br>
        If you create an account, you can track how many complaints you have sent out so far and enjoy some funny features, like 
        tracking how many minutes you were late because of the train mishaps.    
    </p>

    <div>
        <h3>Make your frustrations heard today!</h3>
        <button class="btn btn-outline-danger btn-lg" type="button">
            Try it out :)
        </button>
    </div>
{% endblock %}