{% extends "template.html" %}

{% block title %}
    Form
{% endblock %}  

{% block main %}
   
    <form action="/complain" method="post" class="my-5" autocomplete="off" id="complaint-form">
        <!--
        <div class="mb-3"><input autofocus name="username" placeholder="your username" type="text" required></div>
        <div class="mb-3"><input name="password" placeholder="password" type="password" required></div>
        <div class="mb-3 center"><button type="submit" class="btn btn-outline-danger">Login</button></div>
        -->
        

        <div class="form-container">
            <!-- Header with progressbar -->
            <div class="header">
                <ul>
                    <li>
                        <div class="form-1-progressbar active">
                            <p>1</p>
                        </div>
                    </li>
                    <li>
                        <div class="form-2-progressbar">
                            <p>2</p>
                        </div>
                    </li>
                    <li>
                        <div class="form-3-progressbar">
                            <p>3</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-wrapper">
                <div class="form_1 data_info">
                    <h2>Who is complaining?</h2>
                    <!-- hier einzelne form fields oder ein großes? -->
                    <div class="form-fields">
                        <div class="input-field">
                            <label for="name">Last name:</label>
                            <input type="text" name="name" id="name" placeholder="Mustermann" required>
                        </div>
                        <div class="input-field">
                            <label for="firstName">First name:</label>
                            <input type="text" name="firstName" id="firstName" placeholder="Max" required>
                        </div>
                        <div class="input-field">
                            <label for="email">Email Adress:</label>
                            <input type="text" name="email" id="email" placeholder="max.mustermann@email.net">
                        </div>
                    </div>
                </div>
                <div class="form_2 data_info">
                    <h2>Who is the cultprit?</h2>
                    <!-- hier einzelne form fields oder ein großes? -->
                    <div class="form-fields">
                        <div class="input-field">
                            <label for="company">Company</label>
                            <select name="company" id="company" required>
                                <option value="Bad Guy" disable selected>Bad Guy</option>
                                <option value="DB">DB (Deutsche Bahn)</option>
                                <option value="KVV">KVV (Karlsruher Verkehrsverbund)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form_3 data_info">
                    <h2>What happened?</h2>
                    <!-- hier einzelne form fields oder ein großes? -->
                    <div class="form-fields">
                        <div class="input-field">
                            <label for="crime">The Crime</label>
                            <select name="crime" id="crime" required>
                                <option value="Punktlichkeit" disable selected>Pünktlichkeit</option>
                                <option value="">Service und Umgangsformen</option>
                                <option value="">ÖPNV-Angebot</option>
                                <option value="">Tarifangebot</option>
                                <option value="">Inernet/Informationen</option>
                                <option value="">Sicherheit</option>
                                <option value="">Sauberkeit</option>
                                <option value="">Komfort</option>
                                <option value="">regiomove-App</option>
                                <option value="">KVV.nextbike</option>
                                <option value="">EVA-Shuttle</option>
                                <option value="">Sonstiges</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns-wrapper"></div>
        </div>
    </form>  

{% endblock %}